<mat-toolbar class="kit-header">
  <div class="header-container">
    <div class="header-left">
      <div class="flex items-center gap-3">
        @if (logoUrl()) {
          <img [src]="logoUrl()" alt="Logo" class="h-8 w-8 object-contain" />
        }
        <span class="font-medium text-lg tracking-tight">{{ appName() }}</span>
      </div>

      <ng-content select="[left]"></ng-content>
    </div>

    <div class="header-right">
      <ng-content select="[actions]"></ng-content>

      @if (profile(); as user) {
        <app-button
          [isCircle]="true"
          [customColor]="userColor()"
          (click)="profileClick.emit()"
        >

          <span class="initials">{{ userInitials() }}</span>

        </app-button>
      }
    </div>
  </div>
</mat-toolbar>
