.grid-container {
  display: grid;
  grid-template-columns: var(--sidebar-width, 1fr) repeat(11, 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  width: 100%;

  transition: grid-template-columns 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.grid-tile {
  display: flex;
  animation: slide-fade 1s;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
