<mat-form-field [appearance]="appearance" appHideEmptyError class="full">
  @if (label) {
    <mat-label>{{ label }}</mat-label>
  }

  <input
    matInput
    [type]="currentType"
    [formControl]="control"
    [placeholder]="placeholder ?? constants.EMPTY_STRING"
  />

  @if (type === 'password') {
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="hidePassword.set(!hidePassword()); $event.stopPropagation()"
    >
      <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  }

  @if (control.invalid) {
    <mat-error>{{ errorMessage }}</mat-error>
  }
</mat-form-field>
